## <span style=color:blue>Scratch paper related to DM4DS Programming Assignment 2   </span>

In [1]:
# These are boiler plate imports that seem useful
# Perhaps cleaner would be to delete or comment out the ones that aren't used in this script...

import sys
import json
import csv
import yaml

import pandas as pd
import numpy as np

import matplotlib as mpl

import time
from datetime import datetime
# see https://stackoverflow.com/questions/415511/how-do-i-get-the-current-time-in-python
#   for some basics about datetime

import pprint

# sqlalchemy 2.0 documentation: https://www.sqlalchemy.org/
import psycopg2
from sqlalchemy import create_engine, text as sql_text

# the following is deprecated, it seems, so using the sqlalchemy
# from pyscopg2 import sqlio

### <span style=color:blue>Setting up Postgres connection.  Note database name is "airbnb" </span>

### <span style=color:blue>Note: this should be modified so that the user name/password are not included into the program. </span>

<span style=color:blue>E.g., see https://docs.sqlalchemy.org/en/20/core/engines.html for how to construct the URLs that the create_engine command uses.  Also, one should store the user/password into environment variables and read them in to populate the URL.  </span>

<span style=color:blue>E.g., see https://stackoverflow.com/questions/4906977/how-can-i-access-environment-variables-in-python for how to work with environment variables on mac, </span>

In [2]:
# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

db_eng = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/airbnb',
                       connect_args={'options': '-csearch_path={}'.format('new_york_city')},
                       isolation_level = 'SERIALIZABLE')
#    , echo=True)
#    , echo_pool="debug")

print("Successfully created db engine.")

# connect_args is used to set search_path to 'new_york_city'
# isolation_level SERIALIZABLE makes transactions happen in sequence, which is good 
#      for the benchmarking we will be doing

# for general info on sqlalchemy connections,
#    see: https://docs.sqlalchemy.org/en/20/core/connections.html

# echo from https://docs.sqlalchemy.org/en/20/core/engines.html

Successfully created db engine.

### <span style=color:blue>Here is a pattern for using db_eng for queries</span>

In [3]:
q1 = """ 
SELECT *
FROM reviews 
WHERE date >= '2015-01-01' 
  AND date <= '2015-12-31' 
"""
q2 = """ 
SELECT count(*)
FROM reviews 
WHERE date >= '2015-01-01' 
  AND date <= '2015-12-31' 
"""

# you can use conn.execute, which populates a cursor, in this case "result1" or "result2"
# of, you can use pd.read_sql, which populates a dataframe
with db_eng.connect() as conn:
    result1 = conn.execute(sql_text(q1))   # sql_text was part of import from psycopg2
    df1 = pd.read_sql(q1, con=conn)
    result2 = conn.execute(sql_text(q2))
    df2 = pd.read_sql(q2, con=conn)
    # conn.close() is automatically added to the end of this block

print()
print(type(result1))
print()
print(type(df1))
print()
pprint.pp(result1.fetchmany(3), width=120)
print()
pprint.pp(df1.head(3))
print()
print(result2.all())            # result is small, so can fetch all of it
print()
pprint.pp(df2.head(10))

<class 'sqlalchemy.engine.cursor.CursorResult'>

<class 'pandas.core.frame.DataFrame'>

[('2595', '28794060', datetime.date(2015, 3, 30), '27436102', 'Kellie', 'Jennifer was very good at communicating with us prior to our arrival. Although she could not meet with us herself, she had a friend meet with us to g ... (537 characters truncated) ... or, so we definitely got our workout in going up and down those stairs each day! \r<br/>\r<br/>We had a blast! \r<br/>\r<br/>Thanks Jennifer! \r<br/>'),
 ('2595', '30430122', datetime.date(2015, 4, 21), '6429364', 'Sonya', 'I love this space.  It is truly a gem in the heart of Manhattan.  The location could not be better.  Very clean, comfy, and great warm inviting energy.  Jennifer was very clear and responsive.'),
 ('2595', '32532759', datetime.date(2015, 5, 19), '12146524', 'Michiel', 'This was our first Airbnb experience, and Jennifer really made it great! No more hotels for us in the future ;) The communication was friendly and she replied very fast. Just great!!')]

  listing_id        id        date reviewer_id reviewer_name  \
0       2595  28794060  2015-03-30    27436102        Kellie
1       2595  30430122  2015-04-21     6429364         Sonya
2       2595  32532759  2015-05-19    12146524       Michiel

                                            comments
0  Jennifer was very good at communicating with u...
1  I love this space.  It is truly a gem in the h...
2  This was our first Airbnb experience, and Jenn...

[(28465,)]

   count
0  28465

### <span style=color:blue>Pattern for creating parameterized functions for creating (parameterized) queries</span>

In [19]:
def build_query_reviews_count(date1, date2):
    q21 = """
SELECT count(*)
FROM reviews
WHERE date >= '"""
    q22 = """'
  AND date <= '"""
    q23 = """';
"""
    return q21 + date1 + q22 + date2 + q23

print(build_query_reviews_count('2015-01-01', '2015-12-31'))

def build_query_listings_join_reviews(date1, date2):
    q31 = """
SELECT DISTINCT l.id 
FROM listings l, reviews r 
WHERE l.id = r.listing_id
  AND r.date >= '"""
    q32 = """'
  AND r.date <= '"""
    q33 = """'
ORDER BY l.id;
"""
    return q31 + date1 + q32 + date2 + q33

print()
print(build_query_listings_join_reviews('2015-01-01', '2015-12-31'))

SELECT count(*)
FROM reviews
WHERE date >= '2015-01-01'
  AND date <= '2015-12-31';



SELECT DISTINCT l.id
FROM listings l, reviews r
WHERE l.id = r.listing_id
  AND r.date >= '2015-01-01'
  AND r.date <= '2015-12-31'
ORDER BY l.id;

### <span style=color:blue>Here is a pattern for computing the run-time of something, e.g., a query</span>

In [5]:
def time_diff(time1, time2):
    return (time2-time1).total_seconds()

# testing it:
time1 = datetime.now()
# put query in place of sleep command
time.sleep(0.5)
time2 = datetime.now()

print(time_diff(time1,time2))

0.501939

### <span style=color:blue>Here is a pattern for running a query multiple times, and keeping track of run times</span>

<span style=color:blue>This should probably be encapsulated as a parameterized function in a separate python file that is imported for use in either a jupyter notebook or another python program<span>

In [6]:
# I am loading the query results into a dataframe to make sure that the full
#    value of the query is retrieved by PostgreSQL.  If I retrieve into a
#    cursor, then the system may use "lazy" evaluation and not actually retrieve
#    all the records until I access them later with fetchone() or fetchmany()

def run_test(q, count):
    time_list = []
    for i in range(0,count):
        time_start = datetime.now()
        # Open new db connection for each execution of the query to avoid multithreading
        with db_eng.connect() as conn:
            # conn.execute(sql_text(q3))
            df = pd.read_sql(q, con=conn)
        time_end = datetime.now()
        diff = time_diff(time_start, time_end)
        time_list.append(diff)
    return time_list, \
        round(sum(time_list)/len(time_list), 4), \
        round(min(time_list), 4), \
        round(max(time_list), 4), \
        round(np.std(time_list), 4)

In [7]:
q20 = build_reviews_count_query('2015-01-01', '2015-12-31')

# don't use "min" as a variable name; it will conflict with the name of the built-in function "min"
time_list, avg, min_number, max_number, std = run_test(q20, 20)
# print(time_list)
print(avg, min_number, max_number, std)

# with an index on date for reviews, average run time is about 0.01 seconds
# with no index on date for reviews, average run time is about 0.09 seconds

0.0859 0.0815 0.0986 0.0043

### <span style=color:blue>Here is a pattern for adding/dropping indexes.  Somewhere below I create a function that does this more cleanly.</span>

<span style=color:blue>This should probably be encapsulated as a parameterized function in a separate python file that is imported for use in either a jupyter notebook or another python program<span>

In [32]:
q_create_date_in_reviews = '''
BEGIN TRANSACTION;
CREATE INDEX IF NOT EXISTS date_in_reviews
ON reviews(date);
END TRANSACTION;
'''

q_drop_date_in_reviews = '''
BEGIN TRANSACTION;
DROP INDEX IF EXISTS date_in_reviews;
END TRANSACTION;
'''
q_show_indexes_for_reviews = '''
select *
from pg_indexes
where tablename = 'reviews';
'''

q_create_id_in_listings = '''
BEGIN TRANSACTION;
CREATE INDEX IF NOT EXISTS id_in_listings
ON listings(id);
END TRANSACTION;
'''

q_drop_id_in_listings = '''
BEGIN TRANSACTION;
DROP INDEX IF EXISTS id_in_listings;
END TRANSACTION;
'''
q_show_indexes_for_listings = '''
select *
from pg_indexes
where tablename = 'listings';
'''


with db_eng.connect() as conn:
    # conn.execute(sql_text(q_create_date_in_reviews))
    # conn.execute(sql_text(q_drop_date_in_reviews))
    conn.execute(sql_text(q_create_id_in_listings))
    # conn.execute(sql_text(q_drop_id_in_listings))
    result_reviews = conn.execute(sql_text(q_show_indexes_for_reviews))
    result_listings = conn.execute(sql_text(q_show_indexes_for_listings))
    # print(type(result))
    print()
    print('The set of indexes on reviews is: ')
    print(result_reviews.all())
    print()
    print('The set of indexes on listings is: ')
    print(result_listings.all())

The set of indexes on reviews is:
[]

The set of indexes on listings is:
[('new_york_city', 'listings', 'id_in_listings', None, 'CREATE INDEX id_in_listings ON new_york_city.listings USING btree (id)')]

### <span style=color:blue>Creating a function for creating/dropping an index -- we should probably NOT show this to the students, but rather have them create it</span>

In [39]:
def add_drop_index(db_eng, table_name, add_drop, index_name, index_column):
    if add_drop == 'add':
        q1 = """BEGIN TRANSACTION;
CREATE INDEX IF NOT EXISTS """
        q2 = """
ON """
        q3 = """("""
        q4 = """);
END TRANSACTION;
"""
        modify_index = q1 + index_name + q2 + table_name + q3 + index_column + q4
    elif add_drop == 'drop':
        q6 = """BEGIN TRANSACTION;
DROP INDEX IF EXISTS """
        q7 = """;
END TRANSACTION;
"""
        modify_index = q6 + index_name + q7
    else:
        print('ERROR: call to function add_drop_index has invalid add_drop value:', add_drop)
        return

    # print('Inside the function add_drop_index the SQL queries produced are: \n')
    # print(modify_index)
    # print()

    q8 = """SELECT *
FROM pg_indexes
WHERE tablename = '"""
    q9 = """';
"""
    show_indexes = q8 + table_name + q9

    # print(show_indexes)
    # print()

    with db_eng.connect() as conn:
        conn.execute(sql_text(modify_index))
        result_indexes = conn.execute(sql_text(show_indexes))

    return result_indexes.fetchall()


# TESTING

# add_test = add_drop_index(db_eng, 'reviews', 'add', 'date_in_reviews', 'date')
# print(add_test)

# drop_test = add_drop_index(db_eng, 'reviews', 'drop', 'date_in_reviews', '')
# print(drop_test)

# bad_test = add_drop_index(db_eng, 'reviews', 'foo', 'date_in_reviews', '')
# print(bad_test)

### <span style=color:blue>Setting up a nested dictionary structure so that we can keep track of run times for various queries and updates under various indexing schemes</span>

In [40]:
perf_summary = {}

# the key for each entry of perf_dict will be the name of a query or update
# the value for each entry of perf_dict will be a "perf_dict" of shape (for now)
#        { date_in_reviews_N__id_in_listings_N: ...,
#          date_in_reviews_N__id_in_listings_Y: ...,
#          date_in_reviews_Y__id_in_listings_N: ...,
#          date_in_reviews_Y__id_in_listings_Y: ... }

# the value for each entry of the inner dict will have be a "performance profile" (perf_prof):
#       having shape {avg: ..., min: ..., max: ..., std: ...}

### <span style=color:blue>Working towards an example of populating perf_summary with one query; this is some book keeping that will help with adding a value to perf_summary corresponding to all performance results obtained for one query</span>

In [41]:


# this loop is creating the key values for the "perf_dict" values that we will be building
#    Probably a cleaner way to do this !!
def build_index_description_keys(descriptor_list):  # values will be, ['drop','drop'], ['drop','add'], ['add','drop'], ['add','add']
    flag = False
    if descriptor_list[0] == 'drop':
        prefix = 'date_in_reviews_N'
    elif descriptor_list[0] == 'add':
        prefix = 'date_in_reviews_Y'
    else:
        prefix = 'BAD REVIEWS add_drop VALUE: ' + descriptor_list[0]
        flag = True
    if descriptor_list[1] == 'drop':
        suffix = 'id_in_listings_N'
    elif descriptor_list[1] == 'add':
        suffix = 'id_in_listings_Y'
    else:
        suffix = 'BAD LISTINGS add_drop VALUE: ' + descriptor_list[1]
        flag = True

    if not flag:
        return prefix + '__' + suffix
    else:
        return 'ERROR: ' + prefix + '; ' + suffix

# TESTING

# good1 = build_index_description_keys(['drop','add'])
# print(good1)
# print()
# good2 = build_index_description_keys(['add','drop'])
# print(good2)
# print()
# bad1 = build_index_description_keys(['bad','add'])
# print(bad1)
# print()
# bad2 = build_index_description_keys(['add','bad'])
# print(bad2)

<span style=color:blue>Building the query we will do performance testing with</span>

In [42]:
q_listings_join_reviews_2015 = build_query_listings_join_reviews('2015-01-01', '2015-12-31')

print(q_listings_join_reviews_2015)
print()

SELECT DISTINCT l.id
FROM listings l, reviews r
WHERE l.id = r.listing_id
  AND r.date >= '2015-01-01'
  AND r.date <= '2015-12-31'
ORDER BY l.id;

In [43]:
# this for loop could be a bit more efficient, but current formulation is easy to understand and imitate

perf_dict = {}

for spec in [['drop','drop'], ['add','drop'], ['drop','add'], ['add','add']]:
    # print('Processing spec: ', str(spec), '\n')
    mod_reviews_index = add_drop_index(db_eng, 'reviews', spec[0], 'date_in_reviews', 'date')
    # print(mod_reviews_index)
    # print()
    mod_listings_index = add_drop_index(db_eng, 'listings', spec[1], 'id_in_listings', 'id')
    # print(mod_listings_index)
    # print()

    time_list, avg, min_number, max_number, std = run_test(q_listings_join_reviews_2015, 20)
    perf_profile = {}
    perf_profile['avg'] = avg
    perf_profile['min'] = min_number
    perf_profile['max'] = max_number
    perf_profile['std'] = std

    key_value = build_index_description_keys(spec)
    # print('Value for"', key_value, '"is', str(perf_profile))
    perf_dict[key_value] = perf_profile

perf_summary['listings_join_reviews_2015'] = perf_dict

pprint.pp(perf_summary)

# print(avg)

# with AN index for reviews on date, NO index on id for listings, average run time is about 0.04 seconds
# with NO index for reviews on date, NO index on id for listings, average run time is about 0.11 seconds
# with AN index for reviews on date, AN index on id for listings, average run time is about 0.033 seconds
# with NO index for reviews on date, AN index on id for listings, average run time is about 0.11 seconds

{'listings_join_reviews_2015': {'date_in_reviews_N__id_in_listings_N': {'avg': 0.1162,
                                                                        'min': 0.1077,
                                                                        'max': 0.1343,
                                                                        'std': 0.0064},
                                'date_in_reviews_Y__id_in_listings_N': {'avg': 0.04,
                                                                        'min': 0.0357,
                                                                        'max': 0.0882,
                                                                        'std': 0.0112},
                                'date_in_reviews_N__id_in_listings_Y': {'avg': 0.1083,
                                                                        'min': 0.105,
                                                                        'max': 0.1171,
                                                                        'std': 0.0036},
                                'date_in_reviews_Y__id_in_listings_Y': {'avg': 0.0369,
                                                                        'min': 0.0321,
                                                                        'max': 0.0833,
                                                                        'std': 0.0116}}}