## <span style=color:blue>Scratch paper related to DM4DS Programming Assignment 2   </span>

In [1]:
# These are boiler plate imports that seem useful
# Perhaps cleaner would be to delete or comment out the ones that aren't used in this script...

import sys
import json
import csv
import yaml

import pandas as pd
import numpy as np

import matplotlib as mpl

import time
from datetime import datetime
# see https://stackoverflow.com/questions/415511/how-do-i-get-the-current-time-in-python
#   for some basics about datetime

import pprint

# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

# sqlalchemy 2.0 documentation: https://www.sqlalchemy.org/
# for the sqlalchemy, added the "text" phrase following 
# https://stackoverflow.com/questions/75309237/read-sql-query-throws-optionengine-object-has-no-attribute-execute-with
import psycopg2
from sqlalchemy import create_engine, text as sql_text

# this is deprecated, it seems, so using the sqlalchemy
# from pyscopg2 import sqlio

## <span style=color:blue>Setting up Postgres connection.  Note database name is "airbnb" </span>

In [2]:
# consider closing any previous db connection befoe running next step that creates a db connection
# db_conn.executable.close()
# print('db_conn engine has been closed')

In [4]:
# following https://earthly.dev/blog/psycopg2-postgres-python/

'''
db_conn = psycopg2.connect(dbname='airbnb',
                           user='postgres',
                           password='postgres',
                           host='localhost',
                           port=5432)

print("Successfully connected to the database.")
'''
# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

db_eng = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/airbnb',
                       connect_args={'options': '-csearch_path={}'.format('new_york_city')},
                       isolation_level = 'SERIALIZABLE')

# SQLALCHEMY_ENGINE_OPTIONS = {'isolation_level': 'SERIALIZABLE'}
#                        'isolation_level': "AUTOCOMMIT"})

print("Successfully created db engine.")

# "isolation_level" was from second comment of
#    https://stackoverflow.com/questions/26717790/how-to-set-autocommit-1-in-a-sqlalchemy-engine-connection
#  I needed to include that, because for some SQL update commands the code
#    was executing against postgres, but then hanging, and I would have to kill the kernel
#    to free things up
#    (This was specifically for the ALTER TABLE command below switching from varchar to boolean data type)
# following https://stackoverflow.com/questions/70892143/psycopg2-connection-sql-database-to-pandas-dataframe
# import pandas.io.sql as sqlio

# Actually, rather than putting the user and password directly into the code, we should
#   set up a configuration file, e.g., "db_info.ini" (see the URL given above

Successfully created db engine.

In [5]:
# db_cursor works with psycopg2.connect() but not with sqlalchemy.engine
# db_cursor = db_conn.cursor()

In [6]:
q1 = '''
-- set search_path to new_york_city;
-- COMMIT;
show search_path;
        '''

df1 = pd.read_sql_query(con=db_eng.connect(),
                        sql=sql_text(q1))

# db_cursor.execute(q1)
# db_conn.commit()

df1.head()

     search_path
0  new_york_city

In [103]:
q2 = '''
-- set search_path to new_york_city;
SELECT *
FROM listings
LIMIT 2;
'''
df2 = pd.read_sql_query(con=db_eng.connect(),
                        sql=sql_text(q2))
pprint.pp(df2.head(), width=120)

                   id                                               name  \
0  977395984065981849      Home in Brooklyn · 1 bedroom · 1 bed · 1 bath
1  729947657876634696  Rental unit in The Bronx · 1 bedroom · 1 bed ·...

    host_id host_name neighbourhood_group   neighbourhood   latitude  \
0  95344065     Derek            Brooklyn  Sheepshead Bay  40.591790
1    566660    Markus               Bronx        Longwood  40.827374

   longitude     room_type  price  minimum_nights  number_of_reviews  \
0 -73.942850  Private room     30              31                  1
1 -73.903145  Private room     29              30                  2

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2024-01-03               0.86                               7
1  2023-12-31               0.14                               2

   availability_365  number_of_reviews_ltm license
0               339                      1
1                34                      1

In [7]:
# 

def time_diff(time1, time2):
    return (time2-time1).total_seconds()

time1 = datetime.now()
time.sleep(0.5)
time2 = datetime.now()

print(time_diff(time1,time2))

0.503507

In [6]:
times = {}
diffs = {}

In [8]:
# notice British spelling of 'neighbourhood'
q3 = '''
-- set search_path to 'new_york_city';
SELECT n.neighbourhood, l.id, l.name, l.price
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood;
'''

time_list = []
for i in range(0,20):
    time_start = datetime.now()
    df3 = pd.read_sql_query(con=db_eng.connect(),
                        sql=sql_text(q3))
    time_end = datetime.now()
    diff = time_diff(time_start, time_end)
    time_list.append(diff)

print(time_list)
print(sum(time_list)/len(time_list))


# print()
# print(df3.head())

[0.045929, 0.140335, 0.034769, 0.059238, 0.058182, 0.059837, 0.1253, 0.038008, 0.032974, 0.034621, 0.03371, 0.089411, 0.035274, 0.03096, 0.032699, 0.031323, 0.032648, 0.113315, 0.035042, 0.031401]
0.05474880000000001

In [9]:
print

list = [3.0, 2.0]
foo = sum(list)
print(foo)

5.0

In [28]:
# notice British spelling of 'neighbourhood'
q3_start = """
SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = '"""

q3_end = """' 
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;
"""

print( q3_start + 'Bronx' + q3_end)

SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Bronx'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;

In [29]:
q = q3_start + 'Bronx' + q3_end
df10 = pd.read_sql_query(con=db_eng.connect(),
                            sql=sql_text(q))
print(df10.head())

  neighbourhood_group         avg
0               Bronx  120.347409

In [32]:
q = ''
for i in range(0,5):
    for n in ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']:
        q = q + '\n' + q3_start + n + q3_end
# print(q)

SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Bronx'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Manhattan'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Queens'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Staten Island'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Bronx'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Manhattan'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Queens'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Staten Island'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Bronx'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Manhattan'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Queens'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Staten Island'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Bronx'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Manhattan'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Queens'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Staten Island'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Bronx'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Manhattan'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Queens'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;


SELECT n.neighbourhood_group, avg(l.price)
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Staten Island'
  AND l.neighbourhood = n.neighbourhood
GROUP BY n.neighbourhood_group;

In [33]:
time_start = datetime.now()
df3 = pd.read_sql_query(con=db_eng.connect(),
                            sql=sql_text(q))
time_end = datetime.now()
diff = time_diff(time_start, time_end)
print(diff/25)

0.00859076

In [83]:
def run_test(q3_start, q3_end):
  time_list = []
  for i in range(0,20):
    for n in ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']:
        q = q3_start + n + q3_end
        time_start = datetime.now()
        with db_eng.connect() as conn:
            # conn.execute(sql_text(q3))
            df3 = pd.read_sql(q3, con=conn)
        # df3 = pd.read_sql_query(con=db_eng.connect(),
        #                     sql=sql_text(q))
        time_end = datetime.now()
        diff = time_diff(time_start, time_end)
        time_list.append(diff)
        # time.sleep(0.1)
        # print(time_list)
    # print(sum(time_list))
  return time_list, sum(time_list)/len(time_list)


time_list, avg = run_test(q3_start,q3_end)
# print(time_list)
print(avg)


# print()
# print(df3.head())

0.046639409999999985

In [79]:
q4 = '''
BEGIN TRANSACTION;
CREATE INDEX IF NOT EXISTS neighbourhood_in_listings
ON listings(neighbourhood);
END TRANSACTION;
'''

'''
select *
from pg_indexes
where tablename = 'listings';
'''


df4 = pd.read_sql_query(con=db_eng.connect(),
                        sql=sql_text(q4))

pprint.pp(df4.head())
print()
print(df4.iloc[0,4])

'''
df5 = pd.read_sql_query(con=db_eng.connect(),
                        sql=sql_text(q5))

pprint.pp(df5.head())
print()
print(df5.iloc[0,4])
'''

ResourceClosedError: This result object does not return rows. It has been closed automatically.

<span style=color:blue>DROPPING THE INDEX ON neighbourhood IN listing</span>

In [81]:
q14 = '''
BEGIN TRANSACTION;
CREATE INDEX IF NOT EXISTS neighbourhood_in_listings
ON listings(neighbourhood);
END TRANSACTION;
'''


q16 = '''
BEGIN TRANSACTION;
-- DROP INDEX IF EXISTS neighbourhood; 
DROP INDEX IF EXISTS neighbourhood_in_listings;
END TRANSACTION;
'''
q17 = '''
select *
from pg_indexes
where tablename = 'listings';
'''


with db_eng.connect() as conn:
    conn.execute(sql_text(q16))
    result = conn.execute(sql_text(q17))
    df6 = pd.read_sql(q17, con=conn)
    print(type(result))
    print(result.all())
    # conn.commit()
                          
    # df6 = pd.read_sql_query(conn,
    #                     sql=sql_text(q17))

print(df6.head())

<class 'sqlalchemy.engine.cursor.CursorResult'>
[]
Empty DataFrame
Columns: [schemaname, tablename, indexname, tablespace, indexdef]
Index: []

In [63]:
# https://www.postgresqltutorial.com/postgresql-indexes/postgresql-drop-index/

q6 = '''
BEGIN TRANSACTION;
-- DROP INDEX IF EXISTS neighbourhood; 
DROP INDEX IF EXISTS neighbourhood_in_listings;
END TRANSACTION;

select *
from pg_indexes
where tablename = 'listings';

'''
"""
q7 = '''
select *
from pg_indexes
where tablename = 'listings'
'''
"""

df6 = pd.read_sql_query(con=db_eng.connect(),
                        sql=sql_text(q6))

pprint.pp(df6.head())

Empty DataFrame
Columns: [schemaname, tablename, indexname, tablespace, indexdef]
Index: []

In [86]:
q21 = """
SELECT count(*)
FROM reviews
WHERE date >= '"""
q22 = """'
  AND date <= '"""
q23 = """'"""
print(q21 + '2015-01-01' + q22 + '2015-12-31' + q23)

SELECT count(*)
FROM reviews
WHERE date >= '2015-01-01'
  AND date <= '2015-12-31'

In [98]:
q = q21 + '2015-01-01' + q22 + '2015-12-31' + q23

def run_test1(q):
    time_list = []
    for i in range(0,20):
        time_start = datetime.now()
        with db_eng.connect() as conn:
            # conn.execute(sql_text(q3))
            df = pd.read_sql(q, con=conn)
        time_end = datetime.now()
        diff = time_diff(time_start, time_end)
        time_list.append(diff)
    return time_list, sum(time_list)/len(time_list)


time_list, avg = run_test1(q)
# print(time_list)
print(avg)

0.011806300000000002

In [96]:
q25 = '''
BEGIN TRANSACTION;
CREATE INDEX IF NOT EXISTS date_in_reviews
ON reviews(date);
END TRANSACTION;
'''

q26 = '''
BEGIN TRANSACTION;
DROP INDEX IF EXISTS date_in_reviews;
END TRANSACTION;
'''
q27 = '''
select *
from pg_indexes
where tablename = 'reviews';
'''


with db_eng.connect() as conn:
    conn.execute(sql_text(q25))
    result = conn.execute(sql_text(q27))
    print(type(result))
    print(result.all())

<class 'sqlalchemy.engine.cursor.CursorResult'>
[('new_york_city', 'reviews', 'date_in_reviews', None, 'CREATE INDEX date_in_reviews ON new_york_city.reviews USING btree (date)')]

In [ ]:
db_conn.close()