## <span style=color:blue>Scratch paper related to DM4DS Programming Assignment 2   </span>

In [50]:
# These are boiler plate imports that seem useful
# Perhaps cleaner would be to delete or comment out the ones that aren't used in this script...

import sys
import json
import csv
import yaml

import pandas as pd
import numpy as np

import matplotlib as mpl

import time
from datetime import datetime
# see https://stackoverflow.com/questions/415511/how-do-i-get-the-current-time-in-python
#   for some basics about datetime

import pprint

# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

# sqlalchemy 2.0 documentation: https://www.sqlalchemy.org/
# for the sqlalchemy, added the "text" phrase following 
# https://stackoverflow.com/questions/75309237/read-sql-query-throws-optionengine-object-has-no-attribute-execute-with
import psycopg2
from sqlalchemy import create_engine, text as sql_text

# this is deprecated, it seems, so using the sqlalchemy
# from pyscopg2 import sqlio

## <span style=color:blue>Setting up Postgres connection.  Note database name is "airbnb" </span>

In [56]:
# consider closing any previous db connection befoe running next step that creates a db connection
db_conn.executable.close()
print('db_conn engine has been closed')

AttributeError: 'Engine' object has no attribute 'executable'

In [51]:
# following https://earthly.dev/blog/psycopg2-postgres-python/

'''
db_conn = psycopg2.connect(dbname='airbnb',
                           user='postgres',
                           password='postgres',
                           host='localhost',
                           port=5432)

print("Successfully connected to the database.")
'''
# following https://www.geeksforgeeks.org/connecting-postgresql-with-sqlalchemy-in-python/

db_conn = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/airbnb',
                        isolation_level="AUTOCOMMIT")

print("Successfully connected to the database.")

# "isolation_level" was from second comment of
#    https://stackoverflow.com/questions/26717790/how-to-set-autocommit-1-in-a-sqlalchemy-engine-connection
#  I needed to include that, because for some SQL update commands the code
#    was executing against postgres, but then hanging, and I would have to kill the kernel
#    to free things up
#    (This was specifically for the ALTER TABLE command below switching from varchar to boolean data type)
# following https://stackoverflow.com/questions/70892143/psycopg2-connection-sql-database-to-pandas-dataframe
# import pandas.io.sql as sqlio

# Actually, rather than putting the user and password directly into the code, we should
#   set up a configuration file, e.g., "db_info.ini" (see the URL given above

Successfully connected to the database.

In [53]:
# db_cursor works with psycopg2.connect() but not with sqlalchemy.engine
# db_cursor = db_conn.cursor()

In [54]:
q1 = '''
set search_path to new_york_city;
COMMIT;
        '''

df1 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q1))

db_cursor.execute(q1)
# db_conn.commit()
q2 = '''show search_path'''
df2 = pd.read_sql_query(con=db_conn.connect(),
                        sql=sql_text(q2))

# db_cursor.execute(q2)
# print(db_cursor.fetchone())
df2.head()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [45]:
q3 = '''
SELECT *
FROM listings
LIMIT 2
'''
db_cursor.execute(q3)
pprint.pp(db_cursor.fetchall(), width=120)

[('977395984065981849',
  'Home in Brooklyn · 1 bedroom · 1 bed · 1 bath',
  '95344065',
  'Derek',
  'Brooklyn',
  'Sheepshead Bay',
  40.59179,
  -73.94285,
  'Private room',
  30,
  31,
  1,
  datetime.date(2024, 1, 3),
  0.86,
  7,
  339,
  1,
  ''),
 ('729947657876634696',
  'Rental unit in The Bronx · 1 bedroom · 1 bed · 1 shared bath',
  '566660',
  'Markus',
  'Bronx',
  'Longwood',
  40.827374,
  -73.903145,
  'Private room',
  29,
  30,
  2,
  datetime.date(2023, 12, 31),
  0.14,
  2,
  34,
  1,
  '')]

In [46]:
# 

def time_diff(time1, time2):
    return (time2-time1).total_seconds()

time1 = datetime.now()
time.sleep(0.5)
time2 = datetime.now()

print(time_diff(time1,time2))

0.50473

In [47]:
times = {}
diffs = {}

In [48]:
# notice British spelling of 'neighbourhood'
q4 = '''
SELECT n.neighbourhood, l.id, l.name, l.price
FROM neighbourhoods n, listings l
WHERE n.neighbourhood_group = 'Brooklyn'
  AND l.neighbourhood = n.neighbourhood
'''
times['q4_start'] = datetime.now()

df1 = sqlio.read_sql_query(q4, db_conn)

# df1 = pd.read_sql_query(con=db_conn.connect(),
#                         sql=sql_text(q1))

times['q4_end'] = datetime.now()

diffs['q4'] = time_diff(times['q4_start'], times['q4_end'])
print(diffs['q4'])

print()
print(df1.head())

/var/folders/3l/gd1qj_mw8xl3gm001s6w9h180000gp/T/ipykernel_7236/3835416838.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = sqlio.read_sql_query(q4, db_conn)

0.358876

        neighbourhood                  id  \
0      Sheepshead Bay  977395984065981849
1       East New York  623137142536549768
2  Bedford-Stuyvesant  966874541313648251
3  Bedford-Stuyvesant            15943497
4            Flatbush  845596919658541172

                                                name  price
0      Home in Brooklyn · 1 bedroom · 1 bed · 1 bath   30.0
1  Rental unit in Brooklyn · 1 bedroom · 1 bed · ...   76.0
2  Rental unit in Brooklyn · 1 bedroom · 1 bed · ...   42.0
3  Home in Brooklyn · ★4.74 · 1 bedroom · 1 bed ·...   50.0
4  Rental unit in Brooklyn · 4 bedrooms · 1 bed ·...   48.0

In [ ]:
db_conn.close()